{% extends 'base.html' %}

{% block title %}{{ team.displayName }}{% endblock %}

{% block content %}
    <h1>
        <a href="{% url 'o365:teams' %}"><i class="fa fa-chevron-left "></i></a>
        {{ team.displayName }}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Membres
                </div>
                <div class="list-group list-group-flush ">
                    {% for member in members %}
                        {% if member.type == 'group' %}
                            <a href="{% url 'o365:team' member.id %}"
                               class="list-group-item list-group-item-action justify-content-between">
                                {{ member.displayName }}
                                <span class="badge badge-default badge-pill">Sous-groupe</span>
                            </a>
                        {% elif member.type == 'user' %}
                            <a href="{% url 'o365:team' member.id %}"
                               class="list-group-item list-group-item-action justify-content-between">
                                {{ member.displayName }}
                            </a>
                        {% else %}
                            <a href="{% url 'o365:team' member.id %}"
                               class="list-group-item list-group-item-action justify-content-between">
                                {{ member.displayName }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}