{% load static %}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo-bde-carre.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Equipes
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>

            <div class="navbar-text">
                <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-outline-danger btn-sm my-2 my-sm-0">
                    <i class="fa fa-logout"></i> Déconnexion</a>
            </div>
        </div>
    </div>
</nav>
